.pokemon-detail-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  min-width: 400px;
  color: white;
  background-color: white;
  padding: 2em;
  margin: 2em auto;
  text-transform: capitalize;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  
}
.pokemon-detail-container p{
  font-size: 20px;
}
.pokemon-detail-container p,
 .pokemon-detail-container span,
  .pokemon-detail-container h1{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.pokemon-info{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.pokemon-info span,.pokemon-stats span{
  font-weight: bold;
  margin-right: 1em;
  font-size: 20px;
}
.pokemon-image-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-detail-image{
  min-width: 200px;
  width: 100%;
}
.pokemon-moves{
  display: flex;
  align-items: center;
}
.pokemon-moves p{
  margin-right: 1em;
}
.pokemon-types{
  display: flex;
  align-items: center;
}
.back-btn{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  left: 1em;
  top: 1em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.pokemon-stats{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
 .Progress_Status {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
  width: 70%;
  border-radius: 10px;
  background-color: #ddd;
}
 .Progress_Status span {
    position: absolute;
    left: -3rem;
    top: 0;
}
 #hp-Bar,#atk-Bar, #de-Bar,#vel-Bar {
  width: 1%;
  height: 30px;
  border-radius: 10px;
  background-color: #0056ce;
  text-align: center;
  line-height: 32px;
  color: black;
}
.bar-value p{
  color: white;
  margin: 0 1rem 0 0;
  text-align: end;
  font-weight: bold;
  
}